services:
  ansim-db:
    image: postgis/postgis:15-3.3 # PostgreSQL 15 버전 + PostGIS 포함 이미지
    container_name: ansim-db
    environment:
      POSTGRES_USER: ansim
      POSTGRES_PASSWORD: ansim
      POSTGRES_DB: ansim_db
      TZ: Asia/Seoul
    ports:
      - "5432:5432"
    volumes:
      - ./postgres_data:/var/lib/postgresql/data # 데이터 영구 저장을 위한 볼륨 설정
    restart: always

  # Redis
  ansim-redis:
    image: redis:latest
    container_name: redis
    ports:
      - "6379:6379"
    command: redis-server --save 60 1 --loglevel warning # 60초 안에 1개 이상 변경 시 자동 저장
    restart: always

networks:
  default:
    name: ansim-network